authlib==0.10
cachetools==3.0
config==0.4.0
fastcache==1.0.2
libsass==0.17.0
mock==2.0.0
natsort==5.5.0
pytest==4.1.1
elasticsearch==6.3.1
elasticsearch-dsl==6.3.1
Flask==1.0.2
Flask-Babel==0.12.2
Flask-WTF==0.14.2
git+https://github.com/unbit/uwsgi@4b3e9621c0a3eb2aacf937b8e84e67b23b20490b#egg=uwsgi

